extend default

block content

	p Upload a face

	form(action='/uploadFace', method='post', enctype='multipart/form-data')
		div.input
			input(type='file', name='displayImage')
		p  
		div.input
			input(type="radio", name="database", value="SRPL", checked=true)
			|  SRPL 
			input(type="radio", name="database", value="SRE")
			|  SRE
		p  
		div.input
			input(type='text', name="faceID", value="0")
			input(type='submit', value='Upload Face')

	if params.showResponse
		p #{params.response}
